[submodule "ioc-collector"]
	path = ioc-collector
	url = https://github.com/nlink-jp/ioc-collector.git
[submodule "product-research"]
	path = product-research
	url = https://github.com/nlink-jp/product-research.git
[submodule "ai-ir"]
	path = ai-ir
	url = https://github.com/nlink-jp/ai-ir.git
[submodule "news-collector"]
	path = news-collector
	url = https://github.com/nlink-jp/news-collector.git
[submodule "ir-tracker"]
	path = ir-tracker
	url = https://github.com/nlink-jp/ir-tracker.git
[submodule "ir-timeline"]
	path = ir-timeline
	url = https://github.com/nlink-jp/ir-timeline.git
[submodule "ai-ir2"]
	path = ai-ir2
	url = https://github.com/nlink-jp/ai-ir2.git
